@import "../styles/variables.scss";

.form {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  &__wrap {
    position: absolute;
    top: 220px;
    left: calc(50% - 213px);
  }
  &__content {
    padding: 40px 0;
    width: 426px;
    background: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  &__title {
    padding: 0 0 48px 0;
    text-align: center;
    font-size: 22px;
    line-height: 32px;
    color: #373738;
  }
  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
  }
  &__submit-btn {
    display: block;
    width: 362px;
    height: 36px;
    margin: 80px auto 0;
    background: $orange-button;
    border-radius: 4px;
    transition: 0.4s;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #ffffff;
    &:hover {
      opacity: 0.8;
      transition: 0.4s;
    }
  }
  &__login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 0 0;
    padding: 30px 0 20px 0;
    width: 426px;
    background: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  &__btn {
    padding: 0 0 0 5px;
    background: none;
    font-size: 14px;
    line-height: 26px;
    color: #fd7114;
  }
  &__valid-err {
    border: 1px solid $text-red;
  }
  &__message-err {
    margin: 5px 0 15px 33px;
    width: 278px;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    color: $text-red;
  }
  &__label-err {
    color: $text-red;
  }
  &__message {
    color: $text-light;
    height: 40px;
  }
  &__eye {
    position: absolute;
    z-index: 10;
    top: 13px;
    right: 46px;
    background: none;
  }
  & label {
    display: none;
    position: absolute;
    top: -6px;
    left: 46px;
    padding: 0 4px;
    width: max-content;
    background: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.15px;
    color: #7070708a;
  }
  & input {
    display: block;
    width: 362px;
    height: 40px;
    margin: 0 auto;
    padding: 0 12px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15px;
    color: $text-dark;
    &::placeholder {
      color: $text-light;
      font-family: "Heebo", sans-serif;
    }
    &:focus {
      border: 2px solid $text-light;
      &::placeholder {
        opacity: 0;
      }
    }
    &:not(:placeholder-shown) + label,
    &:focus + label {
      display: block;
    }
  }
}

form > div {
  position: relative;
}
